<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896635045101-giq3o1bf8eqgeuvclni2r50erb0s5a2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896635045101-giq3o1bf8eqgeuvclni2r50erb0s5a2c</string>
	<key>API_KEY</key>
	<string>AIzaSyAPRQTsBShBRgTO8qnjffJGcY-kYGP_vds</string>
	<key>GCM_SENDER_ID</key>
	<string>896635045101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendancesAppQr</string>
	<key>PROJECT_ID</key>
	<string>attendancesappqr</string>
	<key>STORAGE_BUCKET</key>
	<string>attendancesappqr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896635045101:ios:ef5386da9e07d6b61578e4</string>
</dict>
</plist>